Source: oslo.messaging
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-aioeventlet (>= 0.4),
                     python-amqp,
                     python-concurrent.futures,
                     python-coverage,
                     python-eventlet (>= 0.16.1),
                     python-fixtures,
                     python-hacking,
                     python-kombu,
                     python-mock,
                     python-mox3,
                     python-oslo.config (>= 1:1.9.0),
                     python-oslo.i18n (>= 1.3.0),
                     python-oslo.middleware (>= 0.3.0),
                     python-oslo.serialization (>= 1.2.0),
                     python-oslo.utils (>= 1.2.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-oslotest (>= 1.2.0),
                     python-qpid,
                     python-redis,
                     python-six (>= 1.9.0),
                     python-stevedore (>= 1.1.0),
                     python-testscenarios,
                     python-testtools,
                     python-trollius,
                     python-yaml,
                     python-zmq,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/oslo.messaging.git
Vcs-Git: http://anonscm.debian.org/git/openstack/oslo.messaging.git
Homepage: https://github.com/openstack/oslo.messaging

Package: python-oslo.messaging
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-aioeventlet (>= 0.4),
         python-amqp (>= 1.0.12),
         python-concurrent.futures,
         python-eventlet (>= 0.16.1),
         python-kombu,
         python-oslo.config (>= 1:1.9.0),
         python-oslo.i18n (>= 1.3.0),
         python-oslo.middleware (>= 0.3.0),
         python-oslo.serialization (>= 1.2.0),
         python-oslo.utils (>= 1.2.0),
         python-pbr,
         python-six (>= 1.9.0),
         python-stevedore (>= 1.1.0),
         python-trollius,
         python-yaml,
         python-zmq,
         ${misc:Depends},
         ${python:Depends},
         ${sphinxdoc:Depends},
Description: oslo messaging library
 The oslo.messaging API supports RPC and notifications over a number of
 different messaging transports.
 .
 Oslo is a set of libraries developed for OpenStack.
